CMakeFiles/correctMeasurements.dir/general/parseTopics.cpp.o: En la función `void tf2::convert<geometry_msgs::Pose_<std::allocator<void> >, geometry_msgs::PoseStamped_<std::allocator<void> > >(geometry_msgs::Pose_<std::allocator<void> > const&, geometry_msgs::PoseStamped_<std::allocator<void> >&)':
parseTopics.cpp:(.text._ZN3tf27convertIN13geometry_msgs5Pose_ISaIvEEENS1_12PoseStamped_IS3_EEEEvRKT_RT0_[_ZN3tf27convertIN13geometry_msgs5Pose_ISaIvEEENS1_12PoseStamped_IS3_EEEEvRKT_RT0_]+0x1f): referencia a `void tf2::impl::Converter<true, true>::convert<geometry_msgs::Pose_<std::allocator<void> >, geometry_msgs::PoseStamped_<std::allocator<void> > >(geometry_msgs::Pose_<std::allocator<void> > const&, geometry_msgs::PoseStamped_<std::allocator<void> >&)' sin definir






CMakeFiles/correctMeasurements.dir/general/parseTopics.cpp.o: En la función `geometry_msgs::Pose_<std::allocator<void> >& tf2_ros::BufferInterface::transform<geometry_msgs::Pose_<std::allocator<void> > >(geometry_msgs::Pose_<std::allocator<void> > const&, geometry_msgs::Pose_<std::allocator<void> >&, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, ros::Duration) const':
parseTopics.cpp:(.text._ZNK7tf2_ros15BufferInterface9transformIN13geometry_msgs5Pose_ISaIvEEEEERT_RKS6_S7_RKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEN3ros8DurationE[_ZNK7tf2_ros15BufferInterface9transformIN13geometry_msgs5Pose_ISaIvEEEEERT_RKS6_S7_RKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEN3ros8DurationE]+0x69): referencia a `ros::Time const& tf2::getTimestamp<geometry_msgs::Pose_<std::allocator<void> > >(geometry_msgs::Pose_<std::allocator<void> > const&)' sin definir
parseTopics.cpp:(.text._ZNK7tf2_ros15BufferInterface9transformIN13geometry_msgs5Pose_ISaIvEEEEERT_RKS6_S7_RKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEN3ros8DurationE[_ZNK7tf2_ros15BufferInterface9transformIN13geometry_msgs5Pose_ISaIvEEEEERT_RKS6_S7_RKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEN3ros8DurationE]+0x7b): referencia a `std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const& tf2::getFrameId<geometry_msgs::Pose_<std::allocator<void> > >(geometry_msgs::Pose_<std::allocator<void> > const&)' sin definir
parseTopics.cpp:(.text._ZNK7tf2_ros15BufferInterface9transformIN13geometry_msgs5Pose_ISaIvEEEEERT_RKS6_S7_RKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEN3ros8DurationE[_ZNK7tf2_ros15BufferInterface9transformIN13geometry_msgs5Pose_ISaIvEEEEERT_RKS6_S7_RKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEN3ros8DurationE]+0xc8): referencia a `void tf2::doTransform<geometry_msgs::Pose_<std::allocator<void> > >(geometry_msgs::Pose_<std::allocator<void> > const&, geometry_msgs::Pose_<std::allocator<void> >&, geometry_msgs::TransformStamped_<std::allocator<void> > const&)' sin definir
